<table style="font-size: 10px;">
  <tr>
    <th>Hour</th>
    <% hour_data.each do |hour|%>
      <td><%= hour[0] %></td>
    <% end %>
  </tr>
  <tr>
    <th>Wind</th>
    <% hour_data.each do |hour|%>
      <td><%= hour[1] %></td>
    <% end %>
  </tr>
</table>
